/********** Template CSS **********/
/********** Template CSS **********/
:root {
    --light: #f9f3f8;
    --primary: #fa721c; /*cambio: lauty*/
    --dark: #191C24;
}

.cursorPointer {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cursorPointer:hover {
    transform: translateY(-5px);
}

.cursorPointer2 {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cursorPointer2:hover {
    transform: scale(1.05);
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: #feeac7;
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: #feeac7;
    transition: 0.5s;
    
}

.cursorPointer {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cursorPointer:hover {
    transform: translateY(-15px);
}

@media (min-width: 1400px) {
    .container-xxl {
        max-width: 1900px; /* Ajusta este valor según tus necesidades */
    }
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--dark);
    font-weight: 500;
    border-left: 3px solid var(--light);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: #FFFFFF;
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--light);
    color: #fa721c;   /*cambie: lauty*/
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--dark);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

#customForm {
    display: flex;
    flex-flow: row wrap;
  }
  
  #customForm fieldset {
    flex: 1;
    border: 1px solid #aaa;
    margin: 0.5em;
  }
  
  #customForm fieldset legend {
    padding: 5px 20px;
    border: 1px solid #aaa;
    font-weight: bold;
  }
  
  #customForm fieldset.name {
    flex: 2 100%;
  }
  
  #customForm fieldset.name legend {
    background: #bfffbf;
  }
  
  #customForm fieldset.office legend {
    background: #ffffbf;
  }
  
  #customForm fieldset.hr legend {
    background: #ffbfbf;
  }
  
  #customForm div.DTE_Field {
    padding: 5px;
  }

.bg-light{
    background-color: #feeac7 !important;
}

.input-group-text {
    background-color: #e77a34;
}

.modal-body i {
    color: white;
}

.modal-header {
    text-align: center;
    align-items: center;

  }
  
.modal-title {
    margin: 0 auto; /* Centra horizontalmente el título */
  }
/********** cambios al boton agregar proveedor **********/
.botonAgregarProveedor {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #e77a34;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #e77a34;
    cursor: pointer;
    display: inline-block;
    font-family: Font Awesome 5 Free;
    font-size: 0.95em;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 0.1em 1em;
    text-align: center;
    text-decoration: none;
    transition: all 350ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
.botonAgregarProveedor:disabled {
    pointer-events: none;
   }
   
.botonAgregarProveedor:hover {
    color: #ffffff;
    background-color: #e77a34;
    box-shadow: rgba(255, 255, 255, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
.botonAgregarProveedor:active {
    box-shadow: none;
    transform: translateY(0);
   }
/********************/

/********** cambios a los botones de guardar y salir de agregar proveedor **********/
.modal-footer .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(27, 27, 27);
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 1000px;
    display: inline-block;
    transition: all .2s;
    position: relative;
   }
   
.modal-footer .btn:hover {
    transform: translateY(-5px);
   }
   
.modal-footer .btn:active {
    transform: translateY(-3px);
   }
   
.modal-footer .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: all .3s;
   }
   
.modal-footer .btn-danger:hover::after {
    background-color: #bb2d3b;
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
   }

.modal-footer .btn-secondary:hover::after {
    background-color: #6c757d;
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
   }
/********************/

/********** cambios a las letra de los td ya que la tabla se desfasa**********/
#tableProveedores td {
    font-size: 13px; /* Ajusta el tamaño de fuente según lo desees */
    /* Otros estilos para los elementos <td> aquí */
}
/********************/

/********** cambios a los botones de la tabla editar y eliminar**********/
#tableProveedores td button {
    font-size: 12px; /* Ajusta el tamaño de fuente según lo desees */
    padding: 5px 6px; /* Ajusta el espaciado interno del botón según lo desees */
    /* Otros estilos para los botones aquí */
}


/********** cambios responsive a la tabla, a las letras y los botones**********/
@media (max-width: 767px) {
    .table-responsive {
        width: 100%;

    }
    #tableProveedores th {
        padding: 1px 1px;
        font-size: 12px; /* Ajusta el tamaño de fuente según lo desees */
        /* Otros estilos para los elementos <td> aquí */
    }
    #tableProveedores td {
        margin: 0px 20px;
        padding: 1px 4px;
        font-size: 14px; /* Ajusta el tamaño de fuente según lo desees */
        /* Otros estilos para los elementos <td> aquí */
    }
    #tableProveedores td button {
        margin: 2px;
        font-size: 14px; /* Reducir tamaño de fuente en pantallas pequeñas */
        padding: 2px 2px; /* Reducir espaciado interno en pantallas pequeñas */
        /* Otros estilos para los botones en pantallas pequeñas aquí */
    }

}

.navbar-brand i{
    color: var(--primary);  /*cambio: lauty*/
}

.navbar-brand h3 {
    color: #fa721c; /*cambio: lauty*/
}

.dataTables_filter {
    padding: 10px;
}
/********** cambios para centrar el agregar proveedores**********/
.modal-header .btn-close {
    margin-left: 0px;
    padding-left: 0px;

}

/********** cambios al color de la tabla**********/
.bg-personalizado {
    background-color: white;
}

.table-responsive h5 {
    margin: 10px;
}